/**********
** FONTS
*********/
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}
html,
body {
  padding: 0px;
  font-family: "Roboto Regular";
}
#app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  min-width: 1200px;
  background: #1A237E;
}
#app-header a {
  display: inline-block;
  flooat: left;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-decoration: none;
}
#app-header a:hover {
  background: #303F9F;
}
#app-header a.active {
  background: #1E88E5;
}
#app-header #login {
  position: relative;
}
#app-header #login:hover .login-block {
  display: block;
  margin-top: 6px;
}
#app-header #login .login-block {
  position: absolute;
  right: 0px;
  display: none;
  float: left;
  width: 200px;
  background: red;
}
#app-wrapper {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  min-width: 1200px;
  overflow: auto;
  padding-top: 40px;
  box-sizing: border-box;
  background: url("../images/bg2.png");
}
.news {
  padding: 20px;
  background: white;
  border: 1px solid lightgray;
}
#media-grid {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
#media-grid > div {
  display: inline-block;
  width: 100%;
}
@media (max-width: 768px) {
  #media-grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
#media-grid > div {
  margin: 0 auto 24px;
  padding: 24px;
  background: #ddd;
  text-align: center;
}
#media-grid > div:nth-child(2n) {
  height: 200px;
}
#media-grid > div:nth-child(5n) {
  height: 130px;
}
.article {
  display: inline-block;
  width: 30%;
  margin-bottom: 20px;
  margin-right: 5%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border: 1px solid lightgray;
}
.article:nth-child(3n) {
  margin-right: 0px;
}
.article_ {
  float: left;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background: white;
  border: 1px solid lightgrey;
}
