<!-- BEGIN: main -->
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Кафедра математики, информационных систем и программного обеспечения</title>
    <link rel="stylesheet" href="../../resources/styles/kube.min.css">
    <link rel="stylesheet" href="../../resources/styles/style.css">
    <script src="../../libs/angularjs/angular.min.js"></script>
</head>
<body>
    <script src="../../libs/angularjs/angular-route.min.js"></script>
    <script src="modules/app.js"></script>
    <script type="text/javascript">
        var initData = {
            users: {USERS},
            news: {NEWS},
            results: {RESULTS},
            disciplines: {DISCIPLINES},
            specialities: {SPECIALITIES},
            tags: {TAGS}
        };
    </script>

    <div id="app-header">
        <a href="{{ menuItem.url }}" ng-class="{ 'active': menuItem.active === true }" ng-repeat="menuItem in application.getMenu() track by $index">{{ menuItem.title }}</a>
        <a href="#/login" id="login" class="right" ng-show="application.getSessionUser() === undefined">Авторизация</a>
        <a href="" class="right" ng-show="application.getSessionUser() !== undefined" ng-click="application.logout()">
            {{ application.getSessionUser().name + " " + application.getSessionUser().surname  + "  (Выход)"}}
        </a>
    </div>
    <div id="app-wrapper" ng-view></div>
    <script src="../../libs/angularjs/angular-cookies.min.js"></script>
    <script src="../../libs/momentjs/moment-with-locales.min.js"></script>
</body>
</html>
<!-- END: main -->