<row centered>
    <column cols="1"></column>
    <column cols="10">
        <div class="article_">
            <row>
                <column cols="12">
                    <h2>
                        {{ article.title }}
                    </h2>
                    <span class="tag" ng-repeat="tag in article.tags track by $index">{{ tag.title }}</span><br>
                    <span class="left small">{{ article.timestamp.format("DD MMM YYYY в HH:mm") }}</span>
                </column>
            </row>

            <row>
                <column cols="4" ng-show="article.image !== ''">
                    <img ng-src="{{ article.image }}" class="width-12" alt="">
                </column>
                <column cols="8" ng-show="article.image !== ''">{{ article.content }}</column>
                <column cols="12" ng-show="article.image === ''">{{ article.content }}</column>
            </row>

            <row>
                <column cols="12" ng-init="user = app.getUserById(article.userId)">
                    <span class="right">
                        Новость разместил(а) <b>{{ user.surname + ' ' + user.name + ' ' + user.fname }}</b>
                    </span>
                </column>
            </row>


            <row>
                <div></div>


            </row>

            <row>
                <column cols="12">
                    <row>
                        <h3 class="width-12">
                            Комментарии
                            <button type="primary" class="right" ng-show="inAddCommentMode === false" ng-click="inAddCommentMode = !inAddCommentMode">Добавить комментарий</button>
                            <button type="primary" class="right" ng-show="inAddCommentMode === true" ng-click="cancelAddComment()">Отмена</button>
                        </h3>
                    </row>


                    <row>
                        <column cols="12">
                            <div ng-show="inAddCommentMode === true">
                                <fieldset>
                                    <legend>Новый комментарий</legend>
                                    <section>
                                        <label for="new-comment-content">
                                            Комментарий
                                            <span class="error right" ng-show="newComment.errors['content'] !== undefined">{{ newComment.errors["content"] }}</span>
                                        </label>
                                        <textarea name="new-comment-content" id="new-comment-content" cols="30" rows="5" ng-model="newComment.content"></textarea>
                                    </section>
                                    <section>
                                        <button type="primary" ng-click="addComment()">Отправить</button>
                                    </section>
                                </fieldset>
                            </div>
                        </column>
                    </row>

                </column>

            </row>
            <row><div ng-show="article.comments.length === 0">Комментарии отсутствуют</div></row>

            <row ng-repeat="comment in article.comments track by $index">
                <column cols="12">
                    <row>
                        <column cols="12">
                            <span class="left">{{ app.getUserById(comment.userId).fio }}</span>
                            <span class="right">{{ comment.added.format("DD.MM.YYYY в HH:mm") }}</span>
                        </column>
                    </row>
                    <row>
                        <column cols="12">
                            {{ comment.content }}<hr>
                        </column>
                    </row>
                    <!--
                    <div class="comment" ng-repeat="comment in article.comments track by $index">
                        <div class="width-12">
                            <span class="left">{{ app.getUserById(comment.userId).fio }}</span>
                            <span class="right">{{ comment.added.format("DD.MM.YYYY в HH:mm") }}</span>
                        </div>
                        <div class="width-12">
                            {{ comment.content }}
                        </div>
                        <hr>
                    </div>
                    -->
                </column>
            </row>
        </div>

    </column>
    <column cols="1"></column>
</row>