<row centered>
    <column cols="1"></column>
    <column cols="10">
        <h2>
            Преподаваемые дисциплины
            <button type="primary" small class="right" ng-show="inAddMode === false && app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true"" ng-click="addMode(true)">Добавить дисциплину</button>
        </h2>

    </column>
    <column cols="1">
    </column>
</row>

<row centered>
    <column cols="1"></column>
    <column cols="10">
        <div class="width-12" style="background: white; padding: 20px;">
            <form class="forms" ng-show="inAddMode === true">
                <fieldset>
                    <legend>Новая дисциплина</legend>
                    <section>
                        <row end>
                            <column cols="6">
                                <label>
                                    Наименование дисциплины
                                    <span class="error right" ng-show="newDiscipline.errors['title'] !== undefined">{{ newDiscipline.errors["title"] }}</span>
                                </label>
                                <input type="text" class="width-12" name="new-discipline-title" id="new-discipline-title" ng-model="newDiscipline.title" placeholder="Введите наименование дисциплины">
                            </column>

                            <column cols="6" ng-init="filtered = app.getUsers() | professors">
                                <label>
                                    Преподаватель
                                    <span class="error right" ng-show="newDiscipline.errors['professorId'] !== undefined">{{ newDiscipline.errors["professorId"] }}</span>
                                </label>
                                <select class="width-12" ng-model="newDiscipline.professorId" ng-options="user.id as user.fio for user in app.getUsers() | professors"></select>
                            </column>
                        </row>
                    </section>
                    <section></section>
                    <section>
                        <button type="primary" ng-click="add()">Добавить</button>
                        <button type="primary" ng-click="addMode(false)">Отмена</button>
                    </section>
                </fieldset>
            </form>


            <table class="table-stripped">
                <thead>
                <tr ng-init="usr = app.getSessionUser()">
                    <th ng-class="{ 'width-4': usr !== undefined && usr.isProfessor === true, 'width-6': usr === undefined || (usr !== undefined && usr.isProfessor === false) }">Наименование дисциплины</th>
                    <th ng-class="{ 'width-4': usr !== undefined && usr.isProfessor === true, 'width-6': usr === undefined || (usr !== undefined && usr.isProfessor === false) }">Преподаватель</th>
                    <th class="width-4" ng-show="app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-init="usr = app.getSessionUser()" ng-repeat="discipline in app.getDisciplines() track by $index">
                    <td ng-class="{ 'width-4': usr !== undefined && usr.isProfessor === true, 'width-6': usr === undefined || (usr !== undefined && usr.isProfessor === false) }">
                        <span ng-show="discipline.editing === false">{{ discipline.title }}</span>
                        <input type="text" class="width-12" ng-model="discipline.title" ng-show="discipline.editing === true" ng-change="discipline.changed = true" placeholder="Введите наименование дисциплины">
                        <label ng-show="discipline.editing === true">
                            <span class="error right" ng-show="discipline.errors['title'] !== undefined">{{ discipline.errors["title"] }}</span>
                        </label>
                    </td>
                    <td ng-class="{ 'width-4': usr !== undefined && usr.isProfessor === true, 'width-6': usr === undefined || (usr !== undefined && usr.isProfessor === false) }">
                        {{ app.getUserById(discipline.professorId).fio }}
                    </td>
                    <td class="width-4 text-right" ng-show="app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true">
                        <button type="primary" small ng-show="discipline.editing === false && discipline.deleting === false" ng-click="edit(discipline.id)">Изменить</button>
                        <button type="primary" small ng-show="discipline.editing === false && discipline.deleting === false" ng-click="delete(discipline.id)">Удалить</button>
                        <button type="primary" small ng-show="discipline.editing === true && discipline.deleting === false" ng-click="save(discipline.id)" ng-disabled="discipline.changed === false">Сохранить</button>
                        <button type="primary" small ng-show="discipline.deleting === true && discipline.editing === false" ng-click="remove(discipline.id)">Подтвердить</button>
                        <button type="primary" small ng-show="discipline.editing === true || discipline.deleting === true" ng-click="discipline.cancel()">Отмена</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </column>
    <column cols="1"></column>
</row>
