<row centered>
    <column cols="6">
        <h2>Публикация новой новости</h2>
    </column>
</row>
<row centered>
    <column cols="6">
        <div class="width-12" style="background: white; padding: 20px;">
            <form method="post" action="" class="forms" ng-submit="newUser.validate()">
                <section>
                    <label>
                        Заголовок новости
                        <span class="error right" ng-show="newArticle.errors['title'] !== undefined">{{ newArticle.errors["title"] }}</span>
                    </label>
                    <input type="text" name="surname" ng-model="newArticle.title"/>
                </section>
                <section>
                    <label>
                        Изображение
                    </label>
                    <input type="file"
                           name="file"
                           uploader
                           uploader-url="/serverside/articleImageUploader.php"
                           uploader-data="uploaderData"
                           uploader-on-before-upload="onBeforeUploadAttachment"
                           uploader-on-complete-upload="onCompleteUploadAttachment"/>
                    <img ng-src="{{ newArticle.image }}" alt="" ng-show="newArticle.image !== ''">
                </section>
                <section>
                    <label>
                        Краткое содержание новости
                        <span class="error right" ng-show="newArticle.errors['preview'] !== undefined">{{ newArticle.errors["preview"] }}</span>
                    </label>
                    <textarea  cols="30" rows="5" ng-model="newArticle.preview"></textarea>
                </section>
                <section>
                    <label>
                        Содержание новости
                        <span class="error right" ng-show="newArticle.errors['content'] !== undefined">{{ newArticle.errors["content"] }}</span>
                    </label>
                    <textarea  cols="30" rows="10" ng-model="newArticle.content"></textarea>
                </section>
                <section>
                    <button type="primary" ng-click="validate()">Добавить новость</button>
                    <button type="primary" ng-click="gotoNews()">Вернуться на главную страницу</button>
                </section>

                <section>
                    <label>
                        Теги
                        <span class="error right" ng-show="newTag.errors['title'] !== undefined">{{ newTag.errors["title"] }}</span>
                    </label>
                    <span class="tag" ng-repeat="tag in newArticle.tags track by $index">{{ tag }}</span>
                    <row>
                        <column cols="10">
                            <input type="text" name="surname" class="width-12" ng-model="newTag.title"/>
                        </column>
                        <column cols="2">
                            <button type="primary" class="width-12" ng-click="addTag()">Добавить</button>
                        </column>
                    </row>
                </section>

                <section>
                    <button type="primary" ng-click="validate()">Добавить новость</button>
                    <button type="primary" ng-click="gotoNews()">Вернуться на главную страницу</button>
                </section>
            </form>
        </div>
    </column>
</row>