<row centered>
    <column cols="1"></column>
    <column cols="10">
        <h2>
            Новости кафедры
            <button type="primary" small class="right" ng-show="inAddMode === false" ng-click="gotoNewArticle()">Добавить новость</button>
        </h2><br>

    </column>
    <column cols="1"></column>
</row>

<row centered>
    <column cols="1"></column>
    <column cols="10">

        <div class="article" ng-repeat="article in app.getNews() track by $index">
            <div>
                <h3>{{ article.title }}</h3>
                <hr>
            </div>
            <row>
                <p class="lead">{{ article.preview }}</p>
            </row>
            <div class="width-12 highlight">
                <span class="left small"><i>{{ app.getUserById(article.userId).fio }}</i></span>
                <button type="primary" class="right" ng-show="article.userId === app.getSessionUser().id" ng-click="add()" small>Изменить</button>
            </div><br>
            <div class="highlight">
                <span class="left small"><i>{{ article.timestamp.format("DD MMM YYYY в HH:mm") }}</i></span>
            </div>
        </div>


    </column>
    <column cols="1"></column>
</row>
