<row centered>
    <column cols="1"></column>
    <column cols="10">
        <h2>
            Новости кафедры
            <button type="primary" small class="right" ng-show="inAddMode === false" ng-click="addMode(true)">Добавить новость</button>
        </h2><br>

    </column>
    <column cols="1"></column>
</row>

<row centered>
    <column cols="1"></column>
    <column cols="10">
        <blocks cols="3">
            <div class="news">
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem est fuga magni necessitatibus, nihil omnis perferendis quasi temporibus totam! Ad aut doloremque id ipsam iure libero optio sequi temporibus!</p>
            </div>
            <div class="news">
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, illum itaque. Aliquam at aut culpa dolore, dolorem laborum, obcaecati placeat quas quos repellat repudiandae sequi tempora temporibus voluptas voluptate voluptates? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos doloremque enim excepturi magni quasi recusandae sequi tenetur veritatis? Adipisci aperiam autem commodi debitis exercitationem fuga obcaecati rerum? Labore, nobis.</p>
            </div>
            <div class="news">
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, dolores ea enim optio quia ratione reiciendis sed tenetur unde? Consequatur eum facere hic magni molestias mollitia nemo saepe veritatis.</p>
            </div>
            <div class="news"><h3>Заголовок новости</h3></div>
            <div><h3>Заголовок новости</h3></div>
            <div> <h3>Заголовок новости</h3></div>
        </blocks>




        <div id="media-grid">
            <div>
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem est fuga magni necessitatibus, nihil omnis perferendis quasi temporibus totam! Ad aut doloremque id ipsam iure libero optio sequi temporibus!</p>
            </div>
            <div>
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, illum itaque. Aliquam at aut culpa dolore,
                    dolorem laborum, obcaecati placeat quas quos repellat repudiandae sequi tempora temporibus voluptas voluptate voluptates?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos doloremque enim excepturi magni quasi
                    recusandae sequi tenetur veritatis? Adipisci aperiam autem commodi debitis exercitationem fuga obcaecati rerum? Labore, nobis.</p>
            </div>
            <div>
                <h3>Заголовок новости</h3><br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, dolores ea enim optio quia ratione reiciendis sed tenetur unde? Consequatur eum facere hic magni molestias mollitia nemo saepe veritatis.</p>
            </div>
            <div class="news"><h3>Заголовок новости</h3></div>
            <div><h3>Заголовок новости</h3></div>
            <div> <h3>Заголовок новости</h3></div>
        </div>
    </column>
    <column cols="1"></column>
</row>
