<row centered>
    <column cols="1"></column>
    <column cols="10">
        <h2>
            Студенты кафедры
            <button type="primary" small class="right" ng-show="app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true" ng-click="gotoNewStudent()">Добавить студента</button>
        </h2>

    </column>
    <column cols="1">
    </column>
</row>

<row centered>
    <column cols="1"></column>
    <column cols="10">
        <div class="width-12" style="background: white; padding: 20px;">
            <table class="table-stripped">
                <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Специальность</th>
                    <th>E-mail</th>
                    <th>Пароль</th>
                    <th ng-show="app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in app.getUsers() | students track by $index">
                    <td class="width-1">{{ user.surname }}</td>
                    <td class="width-1">{{ user.name }}</td>
                    <td class="width-1">{{ user.fname }}</td>
                    <td class="width-4">
                        <span ng-show=" user.specialityId !== 0">{{ app.getSpecialityById(user.specialityId).title }}</span>
                        <span ng-show="user.specialityId === 0">не указана</span>
                    </td>
                    <td class="width-1">{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td class="width-4 text-right" ng-show="app.getSessionUser() !== undefined && app.getSessionUser().isProfessor === true">
                        <button type="primary" small ng-show="user.deleting === false" ng-click="edit(user.id)">Изменить</button>
                        <button type="primary" small ng-show="user.deleting === false" ng-click="delete(user.id)">Удалить</button>
                        <button type="primary" small ng-show="user.deleting === true" ng-click="remove(user.id)">Подтвердить</button>
                        <button type="primary" small ng-show="user.deleting === true" ng-click="user.cancel()">Отмена</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </column>
    <column cols="1"></column>
</row>


